<template>
  <div>
    <b-row>
      <b-col>
        <h1>Manage Employee</h1>
      </b-col>
    </b-row>
    <b-row>
        <b-col cols="5" offset-md="6" class="mr-auto">
           <b-form-file accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" v-model="file"></b-form-file>
         </b-col>
         <b-col cols="auto" >
           <b-button variant="primary" v-on:click="handleImport()">Import</b-button>
         </b-col>
    </b-row>
    <b-row class="mt-3">
      <b-col cols="3" class="mr-auto">
        <b-form-group
          label="Per page"
          label-cols-sm="6"
          label-cols-md="4"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            :options="pageOptions"
            style="width:auto"
          ></b-form-select>
        </b-form-group>
      </b-col>
      <b-col cols="4">
        <b-form-group>
          <b-form-input
            v-model="filter"
            type="text"
            placeholder="Type to search..."
          ></b-form-input>
        </b-form-group>
      </b-col>
     
      <b-col cols="auto">
        <b-button v-b-modal.modal-add variant="info">Add</b-button>
        <b-modal
          id="modal-add"
          ref="modal-add"
          title="Add Employee"
          hide-footer
          no-close-on-backdrop
        >
          <AddEmployee />
        </b-modal>
      </b-col>

      <div v-if="this.selected.length >= 2">
        <b-button @click="handleBulkDelete" variant="danger">Delete</b-button>
      </div>
    </b-row>

    <b-row v-if="msg">
      <b-col>
        <b-alert
          :show="dismissCountDown"
          dismissible
          :variant="variant"
          @dismissed="dismissCountDown = 0"
          @dismiss-count-down="countDownChanged"
          >{{ msg }}</b-alert
        >
      </b-col>
    </b-row>

    <b-row>
      <b-col cols="12">
        <b-table
          ref="table"
          :current-page="currentPage"
          :per-page="perPage"
          :items="myProvider"
          :fields="fields"
          responsive
          striped
          hover
          bordered
          head-variant="dark"
          :busy.sync="isBusy"
          :filter="filter"
        >
          <template v-slot:table-busy>
            <div class="text-center text-danger my-2">
              <b-spinner class="align-middle"></b-spinner>
              <strong>Loading...</strong>
            </div>
          </template>

          <template v-slot:head(checkbox)>
            <input type="checkbox" v-model="selectAll" />
          </template>

          <template v-slot:cell(checkbox)="row">
            <input type="checkbox" v-model="selected" :value="row.item.id" />
          </template>


          <template v-slot:cell(dob)="row">
              {{moment(row.item.dob).format('MMM Do YYYY')}}
          </template>

          <template v-slot:cell(gender)="row">
              {{row.item.gender === 1 ? "Male": "Female"}}
          </template>

          <template v-slot:cell(actions)="row">
            <b-button
              size="sm"
              variant="primary"
              @click="handleEdit(row.item)"
              class="mr-1"
              >Edit</b-button
            >
            <b-button
              size="sm"
              variant="danger"
              @click="handleDelete(row.item)"
              >Delete</b-button
            >
          </template>
        </b-table>
      </b-col>
    </b-row>
    <b-col offset-md="5" v-if="totalRows > 1">
      <b-pagination
        v-model="currentPage"
        :total-rows="totalRows"
        :per-page="perPage"
        pills
      ></b-pagination>
    </b-col>
    <b-modal
      ref="modal-edit"
      title="Edit Employee"
      hide-footer
      no-close-on-backdrop
    >
      <EditEmployee :editRow="this.editRow" />
    </b-modal>
  </div>
</template>

<script>
import API from "@/services/api.js";
import AddEmployee from "@/components/Employee/AddEmployee.vue";
import EditEmployee from "@/components/Employee/EditEmployee.vue";

export default {
  name: "Equipment",
  components: {
    AddEmployee,
    EditEmployee,
  },
  data() {
    return {
      filter: "",
      isBusy: false,
      dismissSecs: 5,
      dismissCountDown: 0,
      totalRows: 1,
      currentPage: 1,
      perPage: 20,
      pageOptions: [5, 15, 20],
      sortDesc: false,
      fields: [
        { key: "checkbox" },
        { key: "fullname", label: "Full Name" },
        { key: "dob"},
        { key: "gender" },
        { key: "salary" },
        { key: "designation" },
        { key: "actions", label: "Actions" },
      ],
      items: [],
      msg: "",
      variant: "success",
      editRow: null,
      selected: [],
    };
  },

  computed: {
    selectAll: {
      get: function() {
        return this.items ? this.selected.length == this.items.length : false;
      },
      set: function(value) {
        var selected = [];
        if (value) {
          this.items.forEach(function(item) {
            selected.push(item.id);
          });
        }
        this.selected = selected;
      },
    },
  },
  mounted() {
    this.$root.$on("close-addEmployeeModal", (msg, variant) => {
      if (this.$refs["modal-add"]) {
        this.msg = msg;
        this.variant = variant;
        this.$refs["modal-add"].hide();
        this.showAlert();
        this.$refs.table.refresh();
      }
    });
    this.$root.$on("close-editEmployeeModal", (msg, variant) => {
      if (this.$refs["modal-edit"]) {
        this.msg = msg;
        this.variant = variant;
        this.$refs["modal-edit"].hide();
        this.showAlert();
        this.$refs.table.refresh();
      }
    });
  },
  methods: {
    async handleImport() {
        const csv = this.file;
        let formData = new FormData();
        formData.append("file", csv);

        const config = { headers: { "Content-Type": "multipart/form-data" } };
        const res = await API.post("employees/bulkImportData", formData, config);
        if (res.data.length > 0) {
            let err = [];
            res.data.map((data) => {
                if (data.response === "error") err.push(data.rowNo);
            });
            this.msg = err.length > 0 ? `X row [${err}] were skipped since they do not have data.`: 'file uploaded successfully';
            this.variant = "success";
            this.showAlert();
            this.$refs.table.refresh();
        }
    },
    myProvider(ctx, callback) {
      if (ctx.filter !== "") {
        let items = [];
        this.items.filter((value) => {
          if (value.fullname.toLowerCase().indexOf(ctx.filter.toLowerCase()) > -1) {
            items.push(value);
          }
        });
        if (items.length > 0) callback(items);
        else {
          return [];
        }
      } else {
        this.isBusy = true;
        let promise = API.get(
          `/employees/paginate/${ctx.currentPage}/${this.perPage}`
        );
        return promise
          .then((res) => {
            if (res.data.response === "success") {
              if (res.data.data.length > 0) {
                const items = res.data.data;
                this.items = res.data.data;
                this.currentPage = res.data.currentPage;
                this.totalRows = res.data.count;
                this.isBusy = false;
                return items;
              } else {
                this.isBusy = false;
                return [];
              }
            } else {
              this.isBusy = false;
              return [];
            }
          })
          .catch(() => {
            return [];
          });
      }
    },
    async handleEdit(row) {
      this.editRow = row;
      this.$refs["modal-edit"].show();
    },
    async handleDelete(row){
        const confirms = confirm(`Are you really want to ${row.fullname} ?`);
        if (confirms) {
            await API.post("employees/delete", {
                id: row.id,
            }).then((res) => {
                if (res.data.response === "success") {
                    this.msg = `Employee ${row.fullname} has been deleted.`;
                    this.variant = "success";
                } else if (res.data.response === "error") {
                    this.msg = "Something is wrong. Please contact administrator.";
                    this.variant = "danger";
                }
                this.showAlert();
                this.$refs.table.refresh();
            });
        }
    },
    async handleBulkDelete() {
        const confirms = confirm(`Are you really want to delete the items?`);
        if (confirms) {
            await API.post("employees/bulkDelete", {
                ids: this.selected,
            }).then((res) => {
            if (res.data.response === "success") {
                this.msg = `Employees has been deleted.`;
                this.variant = "success";
            } else if (res.data.response === "error") {
                this.msg = "Something is wrong. Please contact administrator.";
                this.variant = "danger";
            }
            this.showAlert();
            this.$refs.table.refresh();
        });
      }
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
  },
};
</script>
