<template>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-5 mx-auto">
        <form v-on:submit.prevent="login">
          <div class="center">
            <img src="../assets/logo.png" title />
          </div>

          <div v-if="msgError.length > 0">
            <b-alert
              v-for="item in msgError"
              v-bind:key="item"
              variant="danger"
              show
              >{{ item.msg }}</b-alert
            >
          </div>
          <div class="form-group">
            <b-input-group prepend="U:">
              <input
                type="text"
                v-model="username"
                class="form-control"
                v-on:input="clearData()"
                placeholder="Username"
                required
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <b-input-group prepend="P:">
              <input
                type="password"
                v-model="password"
                class="form-control"
                v-on:input="clearData()"
                name="password"
                placeholder="Password"
                required
              />
            </b-input-group>
          </div>
          <button
            type="submit"
            class="btn btn-lg btn-info btn-block"
            :disabled="btnDisabled"
          >
            <b-spinner small v-if="btnDisabled"></b-spinner>Sign in
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import API from "@/services/api.js";
export default {
  name: "login",
  data() {
    return {
      btnDisabled: false,
      username: "",
      password: "",
      uname: "",
      pword: "",
      msgError: [],
      msgLogin: "",
    };
  },

  methods: {
    // User Login
    async login() {
      this.msgError = [];
      this.btnDisabled = true;

      if (this.username !== "" && this.password !== "") {
        let username = this.username;
        let password = this.password;
        API.post("login",{
            username,    
            password,
        })
        .then(res =>{
            if(res.data.response ==="errors") {
                this.msgError = res.data.errors;
                this.btnDisabled = false;
            }

            if(res.data.response === "success") {
                const token = res.data.token.split(":").join("");
                localStorage.setItem("token", token);
                localStorage.setItem("userId", res.data.user.id);
                this.$router.push("/dashboard");
            }
        })
        .catch(() =>{
            localStorage.removeItem("token");
            localStorage.removeItem("userId");
        })
      } else {
        this.btnDisabled = false;
        this.msgError.push({
          msg: "Please check username/password.",
        });
      }
    },
    // Clear data
    clearData() {
      this.msgError = [];
      this.btnDisabled = false;
    },
  },
};
</script>

<style scoped>
.center {
  display: block;
  margin-left: 23%;
  margin-right: 40%;
  margin-top: 5%;
  width: 50%;
}
.center img {
  width: 100%;
  height: auto;
}
</style>
