<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand>
        <a href="/dashboard">
          <img
            src="../assets/logo.png"
            title="Employee Record"
            alt="Employee Record"
            class="navbar-brand"
          />
        </a>
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item to="/employees" :class="$route.path === '/employees' ? 'active' : ''">Employee</b-nav-item>
          <b-nav-item v-on:click="logout()">Logout</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
export default {
  name: "NavBar",
  methods: {
    logout() {
      this.$store.dispatch("logout").then(() => {
        this.$router.push("/");
      });
    },
  },
};
</script>

<style scooped>
.navbar-brand {
  width: 100px;
  height: auto;
}
</style>
