<template>
  <div>
    <div v-if="msg.length > 0">
      <b-alert v-for="item in msg" v-bind:key="item" variant="danger" show>
        {{
        item.msg
        }}
      </b-alert>
    </div>
    <b-form @submit="onSubmit">
      <b-form-group label="Full Name:">
        <b-form-input v-model="form.fullname" type="text" required placeholder="Full Name"></b-form-input>
      </b-form-group>

      <b-form-group lable="Date of Birth:">
        <b-form-datepicker  v-model="form.dob" aria-required="required"></b-form-datepicker>
      </b-form-group>

      <b-form-group label="Gender:">
        <b-form-select v-model="form.gender" :options="genderOptions" required></b-form-select>
      </b-form-group>

      <b-form-group label="Salary:">
        <b-form-input v-model="form.salary"  type="number" required placeholder="Salary" min="0" ></b-form-input>
      </b-form-group>

      <b-form-group label="Designation:">
        <b-form-input v-model="form.designation" placeholder="Designation" required></b-form-input>
      </b-form-group>

      <b-row align-h="end">
        <b-col cols="4">
          <b-button type="submit" v-if="!loading" variant="primary">Submit</b-button>
          <b-button variant="primary" disabled v-else>
            <b-spinner small type="grow"></b-spinner>Loading...
          </b-button>
        </b-col>
      </b-row>
    </b-form>
  </div>
</template>

<script>
import API from "@/services/api";

export default {
  name: "AddEmployee",
  data() {
    return {
      form: {},
      loading: false,
      msg: [],
      genderSelected:null,
      genderOptions:[
        {value: null, text:"Please select an option"},
        {value: 1, text:"Male"},
        {value: 0, text:"Female"},
      ]
    };
  },

  methods: {
    async onSubmit(evt) {
      evt.preventDefault();
      this.msg = [];
      this.loading = true;
      this.form.createdBy = localStorage.getItem("userId");
      API.post("/employees/addOREdit", this.form).then((res) => {
        if (res.data.response === "success") {
          this.loading = false;
          this.$root.$emit(
            "close-addEmployeeModal",
            "Employee data has been added successfully.",
            "success",
            res.data.id
          );
        } else if (res.data.response === "error") {
          this.msg.push({ msg: res.data.msg });
          this.loading = false;
        }
      });
    
    },
  },
};
</script>
