<template>
  <div id="app">
    <component :id="layout ==='mainfor-layout' ? 'full_ll':'full_l'" :is="layout">
      <router-view />
    </component>
  </div>
</template>

<script>
const default_layout = "default";
export default {
  computed: {
    layout() {
      return (this.$route.meta.layout || default_layout) + "-layout";
    }
  }
};
</script>