<template>
  <div>
    <NavBar />
    <b-container fluid style="padding:20px">
      <slot />
    </b-container>
  </div>
</template>

<script>
import NavBar from "@/components/NavBar.vue";
export default {
  name: "Default",
  components: {
    NavBar
  }
};
</script>
